.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.dspy-angka {
    font-size: 32px; 
    font-weight: bold; 
    margin-bottom: 20px;
}
.red-btn {
    background-color: red;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.grn-btn {
    background-color: green;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    color: white;
    cursor: pointer;
}