.Card-container {
    margin: 70px auto ;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
    max-width: 900px;
}

img {
    width: 220px;
    height: 180px;
    border-radius: 12px;
    margin-bottom: 18px;
}

.Card-body {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 18px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
    justify-content: space-between;
    width: 220px;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

p {
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #161616;
    font-weight: 600;
}

.desc {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px !important;
    justify-content: start !important;
    margin-top: 8px !important;
    color: #057550 !important;
}

span {
    display: block;
    margin: 5px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #161616;
    font-size: 14px;
}

.icons svg {
    margin: 12px 0px;
    color: rgba(205, 186, 17, 0.82);
}

button {
    display: block;
    width: 100%;
    margin: 5px 0px;
    border: none;
    background-color: #1e1e1e;
    padding: 12px 12px;
    border-radius: 8px;
    cursor: pointer;
    color: #f9f9f9;
}
 
button:hover {
    background-color: #057550;
}




