.table {
    background-color: #f9f9f9;
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.table-body {
    text-align: center;
}

.member {
    color: #424242;
    font-weight: 500;
    font-style: italic;
    padding-bottom: 10px;
}

.user {
    text-align: center;
    padding-bottom: 20px;
}

.table-body button {
    padding: 14px 18px;
    border: none;
    background-color: #2049f0cf;
    color: #f9f9f9;
    border-radius: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color ;
}