* {
    margin: 0;
}

.Hero {
    padding: 120px 120px 20px 120px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #161616;
    font-size: 52px;
    text-align: center;
}

.CTA {
    padding: 0px 120px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
}

.btnHeader {
    text-align: center;
    padding: 12px 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #009966;
    color: #f9f9f9;
    border: none;
    cursor: pointer;
    border-radius: 18px;
}

.btnHeader a {
    text-decoration: none;
    color: #f9f9f9;
    font-weight: 500;
}

.btnHeader:hover {
    background-color: #057550;
}
