.container {
    display: flex;
    background-color: #f9f9f9;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    padding: 80px;
}

.cardList {
    background-color: #e6d178;
    border-radius: 8px;
    width: auto;
    flex-direction: column; 
    align-items: flex-start;
}
.card-header {
  background-color: rgb(119, 28, 158); 
  padding: 20px;
  color: white;
  border-radius: 8px 8px 0 0;
}

.card-body {
    padding: 16px;
}

h3 {
    text-align: center;
    color: #f9f9f9;
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul li {
    list-style: none;
    justify-content: start;
}
