.navbar {
    background-color: #750e21;
    color: #f9f9f9;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar ul li {
    margin-bottom: 10px;
}

.navbar ul li:last-child {
    margin-bottom: 0px;
}

.navbar ul li a {
    display: block;
    text-decoration: none;
    color: #f9f9f9;
    font-weight: 500;
    transition: color 0.3 ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.5rem;

}

.navbar ul li:hover {
    background-color: #ffcc00a6;
}

