.services {
  background-color: #f9f9f9;
  text-align: center;
}

.services-title {
  margin-top: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 42px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
  animation: fadeUp 0.8s ease forwards;
  opacity: 0;
  transform: translateY(30px);
}

.services-subtitle {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
  animation: fadeUp 0.8s ease forwards;
  animation-delay: 0.2s;
  opacity: 0;
  transform: translateY(30px);
}

.services-grid {
  display: flex;
  justify-content: center;
  gap: 70px;
  flex-wrap: wrap;
}

.service-box {
  background: white;
  padding: 30px;
  border-radius: 16px;
  width: 260px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.1);
  animation: fadeUp 0.8s ease forwards;
  opacity: 0;
  margin-bottom: 250px;
  transform: translateY(30px);
}

.service-box:nth-child(1) { animation-delay: 0.3s; }
.service-box:nth-child(2) { animation-delay: 0.5s; }
.service-box:nth-child(3) { animation-delay: 0.7s; }

.service-icon {
  width: 60px;
  height: 60px;
  margin: 0 auto 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hotel-icon {
  background-color: #1173d5;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.kuliner-icon {
  background-color: #d57d11;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.penginapan-icon {
  background-color: #9a11d5;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.service-name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
}

.service-desc {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  color: #555;
  line-height: 1.5;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
