.card {
    display: flex;
    border: 2px solid #e1e0e0;
    flex-direction: column;
    margin: 10px;
    border-radius: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3ease;
}

.card {
    transform: translate(-6px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}
.card-header {
    display: block;
    background-color: #161616;
    color: #f9f9f9;
    padding: 1rem 2rem;
    margin: 0px;
    border-radius: 1rem 1rem 0 0;
    font-style: italic;
}

.card-body {
    display: block;
    background-color: #f9f9f9;
    color: #161616;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    font-style: italic;
}

.card-body ul {
    padding: 1.5rem;
}

.card-body ul li {
    padding: 1rem;
    list-style: none;
}

.btn {
    width: 100%;
    border-radius: 50px;
    background-color: #a4d0ff;
    color: #007bff;
    padding: 18px 10px;
    border: none;
    font-weight: bold;
    font-size: 14px;
}

.btn:hover {
    background-color: #1e35e8;
    color: #f9f9f9;
}

.card-popular {
    background-color: #1e35e8;
    border: 2px solid #1e35e8 !important;
    color: #f9f9f9;
}

.badge-popular {
    border: 1px solid #e6e4e4;
    border-radius: 100px;
    font-size: 10px;
    padding: 2px 6px;
    position: relative;
    bottom: 5px;
}

.btn-popular {
    background-color: #1e35e8;
    color: #f9f9f9;
}

.btn-popular:hover {
    background-color: #485cf1;
}
