* {
    margin: 0;
}

.container {
    margin: 200px;
}

.title {
    color: #009966;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200px;
    font-style: italic;
}

.text {
    color: #2f2f2f !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button {
    margin-top: 25px;
    background-color: #009966 !important;
    width: 100px;
}

