* {
    margin: 0;
}

.navbar {
    padding: 30px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
}

.logo-navbar {
    color: #009966;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight: 500;
    cursor: pointer;
}

/* Gunakan .active (bukan .isActive) karena NavLink kasih class "active" otomatis */
.active {
    color: #009966 !important;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.navbar ul li a{
    color: #363636;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: #009966;    
}
