* {
    margin: 0;
}

.navbar {
    padding: 30px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #009966;
}

.logo-navbar {
    color: #f9f9f9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight: 600
}

.navbar ul {
    list-style: none;
    display: flex;
    color: #f9f9f9;
    gap: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.navbar ul li a{
    color: #f9f9f9;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: rgb(30, 216, 154);    
}