.footer {
    background-color: #161616;
    color: #f9f9f9;
    padding: 1.5rem;
}

.footer h3 {
    margin-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer span {
    color: #f9f9f9;

}
